/*body {
  background-image: url("./image/lol-team.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}*/

body {
/* Location of the image */
background-image: url(./image/lol-team.jpg);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn’t tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn’t move when
the content’s height is greater than the image’s height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container’s size */
background-size: cover;
}

body, html {
  height: 100%;
}

/*.parallax {
  
  background-image: url(./lo.jpg);

 
  height: 100%;

 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/


.jumbotron {
	margin-top: 100px;
	height: auto;
}

.bg1 {
	height: 100vh;
	margin-top: 100px
}