* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
 position: fixed;
  width: 100%;
}

#home {
  height: 100vh;
  background-image: url(./image/lol-trophy.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home h1{
  margin-top: 50px;
  color: rgba(29,190,239,255);
}

#home p {
  color: rgba(29,190,239,255);
  margin-top: 15px;
}

.separator {
  background-color: black;
  margin-top: -35px;
  height: 150px;
}

#game {
  height: 100vh;
  background-image: url(./image/lol-players.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.videoWrapper {
  text-align: center;
  width: 100%;
}

#contact {
  height: 100vh;
  background-image: url(./image/lol-skin.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

form {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: auto;
  padding: 20px;
}

#contact h1{
   background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: auto;
  padding: 20px;
  margin-top: 50px;
  color: black;
}